singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
    executor = 'slurm'
    queue = 'amd'
}

params {
    samples = 'data/test_samples.tsv'
    chromosomes = '21,22'
    reference_panel = '/gpfs/space/projects/genomic_references/imputation/glimpse_reference_070223/reference_panel/1kGP_high_coverage_Illumina.all.filtered.SNV_INDEL_SV_phased_panel.no_chr.independent_inds.vcf.gz'
    reference_genome = '/gpfs/space/projects/genomic_references/imputation/glimpse_reference_070223/reference_genome/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
    genetic_map = '/gpfs/space/projects/genomic_references/imputation/glimpse_reference_070223/genetic_map.b38'
    outdir = './results.test'
}
